In [2]:
%load_ext autoreload
%autoreload 2

In [24]:
from notebook_init import settings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from opennem.db import get_database_engine, db_connect 
from opennem.schema.network import NetworkNEM
from opennem.core.compat.schema import OpennemDataSetV2
from opennem.core.compat.loader import load_statset_v2
from opennem.utils.http import http
from opennem.utils.numbers import sigfig_compact
from opennem.core.compat.energy import trading_energy_data
from opennem.utils.series import series_joined, series_are_equal
from opennem.core.energy import _energy_aggregate, energy_sum
from opennem.workers.energy import get_generated_query, get_generated
from opennem.core.parsers.aemo import parse_aemo_urls
from opennem.schema.network import NetworkNEM

engine = db_connect(settings.db_url)
engine_local = db_connect("postgresql://opennem:opennem@127.0.0.1:15433/opennem")

In [4]:
aemo = parse_aemo_urls(
    [
        "http://nemweb.com.au/Reports/Current/Next_Day_Dispatch/PUBLIC_NEXT_DAY_DISPATCH_20210304_0000000337689171.zip",
        "http://nemweb.com.au/Reports/Current/Next_Day_Dispatch/PUBLIC_NEXT_DAY_DISPATCH_20210305_0000000337748278.zip",
        "http://nemweb.com.au/Reports/Current/Next_Day_Dispatch/PUBLIC_NEXT_DAY_DISPATCH_20210306_0000000337800035.zip",
    ]
)

[opennem.utils.mime                     DEBUG] Using magic to get mime type application/zip
[opennem.schema.aemo.mms                 INFO] No schema found for table: DISPATCH_LOCAL_PRICE
[opennem.schema.aemo.mms                 INFO] No schema found for table: DISPATCH_OFFERTRK
[opennem.schema.aemo.mms                 INFO] No schema found for table: DISPATCH_CONSTRAINT
[opennem.schema.aemo.mms                 INFO] No schema found for table: DISPATCH_MNSPBIDTRK
[opennem.utils.mime                     DEBUG] Using magic to get mime type application/zip
[opennem.utils.mime                     DEBUG] Using magic to get mime type application/zip

In [5]:
__query = "select code from facility where network_region='SA1' and fueltech_id='wind'"

with engine.connect() as c:
    sa1_wind_duids = list(i[0] for i in c.execute(__query))
    
sa1_wind_duids

['LKBONNY2',
 'HDWF1',
 'HDWF3',
 'MTMILLAR',
 'WATERLWF',
 'NBHWF1',
 'WGWF1',
 'SNOWNTH1',
 'WPWF',
 'SNOWSTH1',
 'STARHLWF',
 'BLUFF1',
 'LGAPWF1',
 'CLEMGPWF',
 'LKBONNY3',
 'HALLWF2',
 'LKBONNY1',
 'SNOWTWN1',
 'HALLWF1',
 'CATHROCK',
 'HDWF2',
 'CNUNDAWF']

In [6]:
dispatch_solution = aemo.get_table("DISPATCH_UNIT_SOLUTION")
df = dispatch_solution.to_frame()
df

[opennem.core.parsers.aemo              DEBUG] Setting index to ['settlementdate', 'duid']

                                   initialmw
settlementdate            duid
2021-03-04 04:05:00+10:00 AGLHAL     0.00000
                          AGLSOM     0.00000
                          ANGAST1    0.00000
                          APD01      0.00000
                          ARWF1    127.90000
...                                      ...
2021-03-07 04:00:00+10:00 YENDWF1    0.09000
                          YWPS1    378.69620
                          YWPS2    319.79745
                          YWPS3    377.45444
                          YWPS4    387.89874

[304992 rows x 1 columns]

In [114]:
# test it out with v2 methods
from datetime import datetime, date, timedelta




sa1_wind_duids = ["BLUFF1"]

sa1_wind_df = df[df.index.isin(sa1_wind_duids, level=1)]
sa1_wind_df


# sa1_wind_df

# sa1_wind_df_energy = trading_energy_data(sa1_wind_df, date(2021, 3, 4))


# df_energy_v2
# sa1_wind_df = sa1_wind_df.set_index("SETTLEMENTDATE")
# sa1_wind_df.sort_index(inplace=True)

# sa1_wind_df.OUTPUT_MWH.sum() / 1000

                                  initialmw
settlementdate            duid
2021-03-04 04:05:00+10:00 BLUFF1        3.0
2021-03-04 04:10:00+10:00 BLUFF1        3.0
2021-03-04 04:15:00+10:00 BLUFF1        2.3
2021-03-04 04:20:00+10:00 BLUFF1        1.6
2021-03-04 04:25:00+10:00 BLUFF1        1.0
...                                     ...
2021-03-07 03:40:00+10:00 BLUFF1        3.2
2021-03-07 03:45:00+10:00 BLUFF1        2.9
2021-03-07 03:50:00+10:00 BLUFF1        2.9
2021-03-07 03:55:00+10:00 BLUFF1        2.2
2021-03-07 04:00:00+10:00 BLUFF1        2.2

[864 rows x 1 columns]

In [163]:
from opennem.workers.energy import shape_energy_dataframe, get_generated_query, get_generated
from opennem.core.energy import energy_sum

date_start = datetime.fromisoformat("2021-03-03 23:55:00+10:00")
date_end = datetime.fromisoformat("2021-03-07 00:05:00+10:00")
generated_results = get_generated("SA1", date_start, date_end, NetworkNEM, "wind")

dfv3 = shape_energy_dataframe(generated_results)
dfv3 = dfv3.set_index(["trading_interval"])
dfv3

[opennem.workers.energy                 DEBUG]
select
    fs.trading_interval at time zone 'AEST' as trading_interval,
    fs.facility_code,
    fs.network_id,
    f.fueltech_id,
    generated
from
    facility_scada fs
    left join facility f on fs.facility_code = f.code
where
    fs.network_id='NEM'
    and f.network_region='SA1'
    and fs.trading_interval >= '2021-03-03 23:45:00+10:00'
    and fs.trading_interval <= '2021-03-07 00:15:00+10:00'
    and fs.is_forecast is False
    and f.fueltech_id = 'wind'
    and fs.generated is not null
order by fs.trading_interval asc, 2;

[opennem.workers.energy                 DEBUG] Got back 19161 rows

                    facility_code network_id fueltech_id  generated
trading_interval
2021-03-03 23:45:00        BLUFF1        NEM        wind   0.200000
2021-03-03 23:45:00      CATHROCK        NEM        wind  36.709999
2021-03-03 23:45:00      CLEMGPWF        NEM        wind  48.695670
2021-03-03 23:45:00      CNUNDAWF        NEM        wind   3.103621
2021-03-03 23:45:00       HALLWF1        NEM        wind  32.180000
...                           ...        ...         ...        ...
2021-03-07 00:15:00      SNOWTWN1        NEM        wind  22.454780
2021-03-07 00:15:00      STARHLWF        NEM        wind   0.799767
2021-03-07 00:15:00      WATERLWF        NEM        wind  28.900000
2021-03-07 00:15:00         WGWF1        NEM        wind  55.500000
2021-03-07 00:15:00          WPWF        NEM        wind   8.000000

[19161 rows x 4 columns]

In [164]:
def __trapezium_integration(d_ti, power_field: str = "MWH_READING"):
    return 0.5*(d_ti[power_field] * [1,2,2,2,2,2,1]).sum()/12
            
def __trading_energy_generator(df, date, duid_id, power_field: str = "generated"):
    return_cols = []

    t_start = datetime(date.year, date.month,date.day,0,5)

    #48 trading intervals in the day 
    #(could be better with groupby function)
    for TI in range(48):
        #t_i initial timestamp of trading_interval, t_f = final timestamp of trading interval
        t_i = t_start + timedelta(0,1800*TI)
        t_f = t_start + timedelta(0,1800*(TI+1))
        
        _query = f"'{t_i}' <= trading_interval <= '{t_f}' and facility_code == '{duid}'"

        d_ti = df.query(_query)
        
        energy_value = None
        
        # interpolate if it isn't padded out       
        if d_ti[power_field].count() != 7:
            index_interpolated = pd.date_range(start= t_i, end= t_f, freq='5min')
            
            d_ti = d_ti.reset_index()
            d_ti = d_ti.set_index("trading_interval")
            d_ti = d_ti.reindex(index_interpolated)
            d_ti["duid"] = duid_id
        
        try:
            energy_value = __trapezium_integration(d_ti, power_field)
        except ValueError as e:
            print("Error with {} at {} {}: {}".format(duid, t_i, t_f, e))
        
        if not d_ti.index.empty:
            return_cols.append({
                "trading_interval": d_ti.index[-2], 
                "network_id": "NEM",
                "facility_code": duid_id, 
                "eoi_quantity": energy_value
            })
            
    return return_cols


def trading_energy_data(df):
    energy_genrecs = []
    
    for day in get_day_range(df):
        for duid in sorted(df.facility_code.unique()):
            energy_genrecs += [d for d in __trading_energy_generator(df, day, duid)]
        
    df = pd.DataFrame(
        energy_genrecs, columns=["trading_interval", "network_id", "facility_code", "eoi_quantity"]
    )
    
    return df

def get_day_range(df):
    min_date = (df.index.min() + timedelta(days=1)).date()
    max_date = (df.index.max() - timedelta(days=1)).date()
    
    cur_day = min_date
    
    while cur_day <= max_date:
        yield cur_day
        cur_day += timedelta(days=1)
        
    
trading_energy_data(dfv3)

running for 2021-03-04
running for 2021-03-05
running for 2021-03-06

        trading_interval network_id facility_code  eoi_quantity
0    2021-03-04 00:30:00        NEM        BLUFF1      0.245833
1    2021-03-04 01:00:00        NEM        BLUFF1      0.854167
2    2021-03-04 01:30:00        NEM        BLUFF1      4.104167
3    2021-03-04 02:00:00        NEM        BLUFF1      3.587500
4    2021-03-04 02:30:00        NEM        BLUFF1      1.075000
...                  ...        ...           ...           ...
3163 2021-03-06 22:00:00        NEM          WPWF      3.195833
3164 2021-03-06 22:30:00        NEM          WPWF      5.229167
3165 2021-03-06 23:00:00        NEM          WPWF      2.120833
3166 2021-03-06 23:30:00        NEM          WPWF      3.595833
3167 2021-03-07 00:00:00        NEM          WPWF      3.408333

[3168 rows x 4 columns]

In [147]:
from opennem.core.energy import energy_sum

generated_results = get_generated("SA1", date_start, date_end, NetworkNEM, "wind")

dfv4 = shape_energy_dataframe(generated_results)

dfv4.facility_code

[opennem.workers.energy                 DEBUG]
select
    fs.trading_interval at time zone 'AEST' as trading_interval,
    fs.facility_code,
    fs.network_id,
    f.fueltech_id,
    generated
from
    facility_scada fs
    left join facility f on fs.facility_code = f.code
where
    fs.network_id='NEM'
    and f.network_region='SA1'
    and fs.trading_interval >= '2021-03-04 03:55:00+10:00'
    and fs.trading_interval <= '2021-03-05 04:15:00+10:00'
    and fs.is_forecast is False
    and f.fueltech_id = 'wind'
    and fs.generated is not null
order by fs.trading_interval asc, 2;

[opennem.workers.energy                 DEBUG] Got back 6446 rows

0         BLUFF1
1       CATHROCK
2       CLEMGPWF
3       CNUNDAWF
4        HALLWF1
          ...
6441    SNOWTWN1
6442    STARHLWF
6443    WATERLWF
6444       WGWF1
6445        WPWF
Name: facility_code, Length: 6446, dtype: object

In [102]:
d_ti["initialmw"] = np.array([np.NaN, np.NaN, 0.2, np.NaN, np.NaN])
d_ti

                             duid  initialmw
settlementdate
2021-03-05 00:10:00+10:00  BLUFF1        NaN
2021-03-05 00:15:00+10:00  BLUFF1        NaN
2021-03-05 00:20:00+10:00  BLUFF1        0.2
2021-03-05 00:25:00+10:00  BLUFF1        NaN
2021-03-05 00:30:00+10:00  BLUFF1        NaN

In [105]:

index = pd.date_range(start= t_i, end= t_f, freq='5min')
d_ti = d_ti.reset_index()
d_ti = d_ti.set_index("settlementdate")
df2 = d_ti.reindex(index)
df2["duid"] = "BLUFF1"

df2

                             duid  initialmw
2021-03-05 00:05:00+10:00  BLUFF1        NaN
2021-03-05 00:10:00+10:00  BLUFF1        NaN
2021-03-05 00:15:00+10:00  BLUFF1        NaN
2021-03-05 00:20:00+10:00  BLUFF1        0.2
2021-03-05 00:25:00+10:00  BLUFF1        NaN
2021-03-05 00:30:00+10:00  BLUFF1        NaN
2021-03-05 00:35:00+10:00  BLUFF1        NaN

In [104]:
df3 = df2
df3.initialmw = df3.initialmw.interpolate(limit_direction='both')
df3

                             duid  initialmw
2021-03-05 00:05:00+10:00  BLUFF1        0.2
2021-03-05 00:10:00+10:00  BLUFF1        0.2
2021-03-05 00:15:00+10:00  BLUFF1        0.2
2021-03-05 00:20:00+10:00  BLUFF1        0.2
2021-03-05 00:25:00+10:00  BLUFF1        0.2
2021-03-05 00:30:00+10:00  BLUFF1        0.2
2021-03-05 00:35:00+10:00  BLUFF1        0.2

In [79]:
df4 = df2
df4["initialmw"].interpolate(method="", limit_direction='both')
df4

                             duid  initialmw
2021-03-05 00:05:00+10:00  BLUFF1        0.2
2021-03-05 00:10:00+10:00  BLUFF1        0.2
2021-03-05 00:15:00+10:00  BLUFF1        0.2
2021-03-05 00:20:00+10:00  BLUFF1        0.2
2021-03-05 00:25:00+10:00  BLUFF1        0.2
2021-03-05 00:30:00+10:00  BLUFF1        0.2
2021-03-05 00:35:00+10:00  BLUFF1        0.2

In [3]:
date_min = datetime.fromisoformat("2021-03-02T00:00:00+10:00")
date_max = date_min + timedelta(days=3)

query = get_generated_query("NSW1", date_min, date_max, NetworkNEM, "coal_black")

print(query)

df = pd.read_sql(query, engine, index_col=["trading_interval", "network_id", "facility_code"])
df = df.rename(columns={"generated": "eoi_quantity"})
df_energy = _energy_aggregate(df, NetworkNEM)
# df_energy = df_energy.drop(['facility_code', 'network_id'], axis=1)
df_energy = df_energy.set_index(["trading_interval"])

df = df.reset_index()
df = df.set_index(["trading_interval"])
# df = df.drop(['facility_code', 'network_id'], axis=1)

dfj = df_energy.join(df, on="trading_interval", lsuffix='_energy', rsuffix='_power')

# print(query)
# dfj.set_index()
# print(query)
# dfj.eoi_quantity_energy.sum(), dfj.eoi_quantity_energy.sum()
df_energy.resample("D").eoi_quantity.sum() / 1000
# df_energy
print(query)

select
    fs.trading_interval at time zone 'AEST' as trading_interval,
    fs.facility_code,
    fs.network_id,
    f.fueltech_id,
    generated
from
    facility_scada fs
    left join facility f on fs.facility_code = f.code
where
    fs.network_id='NEM'
    and f.network_region='NSW1'
    and fs.trading_interval >= '2021-03-01 23:50:00+10:00'
    and fs.trading_interval <= '2021-03-05 00:10:00+10:00'
    and fs.is_forecast is False
    and f.fueltech_id = 'coal_black'
    and fs.generated is not null
order by fs.trading_interval asc, 2;

KeyError: "None of [Index([              ('code', 'NEM'),             ('country', 'au'),\n                    ('label', 'NEM'),             ('regions', None),\n                  ('timezone', None), ('timezone_database', 'AEST'),\n                     ('offset', 600),          ('interval_size', 5),\n                ('reading_shift', 5)],\n      dtype='object')] are in the [index]"

In [ ]:
URI_V2_NSW_DAILY = "https://data.opennem.org.au/nsw1/energy/daily/2021.json"

r = http.get(URI_V2_NSW_DAILY)
v2 = load_statset_v2(r.json())

v2_imports = list(filter(lambda x: "imports.energy" in x.id, v2.data)).pop().history.values()
v2df = pd.DataFrame(v2_imports, columns=["trading_interval", "energy"])
v2df = v2df.set_index(["trading_interval"])

In [ ]:
date_min = datetime.fromisoformat("2021-01-01T00:00:00+10:00")
date_max = datetime.fromisoformat("2021-03-03T00:00:00+10:00")

query = """
select
    bs.trading_interval at time zone 'AEST' as trading_interval,
    bs.network_id,
    bs.network_region as facility_code,
    'imports' as fueltech_id,
    case when bs.net_interchange_trading < 0 then
        bs.net_interchange_trading
    else 0
    end as generated
from balancing_summary bs
where
    bs.network_id='NEM'
    and bs.network_region='NSW1'
    and bs.trading_interval >= '{date_min}'
    and bs.trading_interval <= '{date_max}'
    and bs.net_interchange_trading is not null
order by trading_interval asc;
""".format(
    date_min=date_min - timedelta(minutes=10),
    date_max=date_max + timedelta(minutes=10)
)

df = pd.read_sql(query, engine, index_col=["trading_interval", "network_id", "facility_code"])


df_energy = _energy_aggregate(df)
df_energy = df_energy.set_index(["trading_interval"])
# es = df.resample("30min").generated.sum() / 6 * 0.5

# es = es.to_frame().resample("D").generated.sum() / 1000
es = (df_energy.reset_index().set_index("trading_interval").resample("D").eoi_quantity.sum() / 1000).to_frame()

c = v2df.join(es)
c["is_eqal"] = c.energy == c.eoi_quantity

df.generated = df.generated / 2
df = df.reset_index()
df = df.set_index(["trading_interval"])
em = (df.resample("D").generated.sum() / 1000).to_frame()


c = v2df.join(em)
c["energy_sum"] = es.eoi_quantity
c["is_eqal"] = c.energy == c.generated

c

In [ ]:
query2 = """
select
    fs.trading_interval at time zone 'AEST' as trading_interval,
--    fs.facility_code,
--    fs.network_id,
--    generated,
    eoi_quantity
from
    facility_scada fs
    left join facility f on fs.facility_code = f.code
where
    fs.network_id='NEM'
    and f.network_region='NSW1'
    and fs.trading_interval >= '{date_min}'
    and fs.trading_interval <= '{date_max}'
    and fs.is_forecast is False
    and f.fueltech_id = 'solar_rooftop'
    and fs.eoi_quantity is not null
order by fs.trading_interval asc, 2;
""".format(
    date_min=date_min,
    date_max=date_max
)
df.energy = pd.read_sql(query2, engine_local, index_col=["trading_interval"]).eoi_quantity.sum() / 1000

In [ ]:
q = """
select
    fs.trading_interval at time zone 'AEST' as trading_interval,
    --fs.facility_code,
    --fs.network_id,
    generated
    --eoi_quantity
from
    facility_scada fs
    left join facility f on fs.facility_code = f.code
where
    fs.network_id='NEM'
    and f.network_region='NSW1'
    and fs.trading_interval >= '2021-02-15 00:00:00+10:00'
    and fs.trading_interval <= '2021-02-16 00:00:00+10:00'
    and fs.is_forecast is False
    and f.fueltech_id = 'solar_rooftop'
    and fs.generated is not null
order by fs.trading_interval asc, 2;
"""

dfl = pd.read_sql(q, engine_local, index_col=["trading_interval"])
dfs = pd.read_sql(q, engine, index_col=["trading_interval"])

j = dfl.join(dfs, lsuffix="_local")
j["eq"] = j.generated_local == j.generated
j

In [ ]:
nsw_coal_black_duids = [
    "MP1",
    "REDBANK1",
    "VP5",
    "VP6",
    "LD01",
    "LD02",
    "LD03",
    "LD04",
    "BW01",
    "BW02",
    "BW03",
    "BW04",
    "ER01",
    "ER02",
    "ER03",
    "ER04",
    "MM3",
    "MM4",
    "MP2",
    "WW7",
    "WW8"
]

nsw_rooftop_duids = [
    "ROOFTOP_NEM_NSW"
]

df_nsw_coal = df[df.DUID.isin(nsw_coal_black_duids)]


network = NetworkNEM

# setup v2 df
df_nsw_coal_v2 = df_nsw_coal
df_nsw_coal_v2.SETTLEMENTDATE = pd.to_datetime(df_nsw_coal_v2.SETTLEMENTDATE)
df_nsw_coal_v2.INITIALMW = pd.to_numeric(df_nsw_coal_v2.INITIALMW)
df_nsw_coal_v2 = df_nsw_coal_v2.set_index(["SETTLEMENTDATE"])

# setup v1 df
df_nsw_coal = df_nsw_coal.rename(columns={"SETTLEMENTDATE": "trading_interval", "DUID": "facility_code", "INITIALMW": "eoi_quantity"})
df_nsw_coal["network_id"] = "NEM"
df_nsw_coal.trading_interval = df_nsw_coal.apply(
    lambda x: pd.Timestamp(x.trading_interval, tz=network.get_fixed_offset()), axis=1
)

df_nsw_coal.trading_interval = pd.to_datetime(df_nsw_coal.trading_interval)
df_nsw_coal.eoi_quantity = pd.to_numeric(df_nsw_coal.eoi_quantity)



df_nsw_coal = df_nsw_coal.set_index(["trading_interval", "network_id", "facility_code"])

In [ ]:


df_energy = _energy_aggregate(df_nsw_coal, network)
df_energy.trading_interval = df_energy.trading_interval - pd.Timedelta(minutes=network.reading_shift)
df_energy = df_energy.set_index(["trading_interval"])
df_energy

In [ ]:

df_energy.resample("D").eoi_quantity.sum() / 1000

In [ ]:
# test it out with v2 methods
from datetime import datetime, date, timedelta


def __trapezium_integration(d_ti):
    return 0.5*(d_ti["INITIALMW"] * [1,2,2,2,2,2,1]).sum()/12
            
def __trading_energy_generator(df, date, duid_id):
    df.sort_index(inplace=True)
    t_start = datetime(date.year, date.month,date.day,0,5)

    #48 trading intervals in the day 
    #(could be better with groupby function)
    for TI in range(48):
        #t_i initial timestamp of trading_interval, t_f = final timestamp of trading interval
        t_i = t_start + timedelta(0,1800*TI)
        t_f = t_start + timedelta(0,1800*(TI+1))

        d_ti = df[(df.index>=t_i) & (df.index<=t_f) & (df.DUID == duid_id)]
        
        if not d_ti.index.empty:
            yield d_ti.index[-2], duid_id, __trapezium_integration(d_ti)


def trading_energy_data(df, date):
    energy_genrecs = []
    
    for duid in sorted(nsw_coal_black_duids):
        energy_genrecs += [d for d in __trading_energy_generator(df, date, duid)]
        
    df = pd.DataFrame(energy_genrecs, columns=['SETTLEMENTDATE', 'DUID','OUTPUT_MWH'])
    return df


# df_nsw_coal_v2
df_energy_v2 = trading_energy_data(df_nsw_coal_v2, date(2021, 2, 14))
# df_energy_v2
df_energy_v2 = df_energy_v2.set_index("SETTLEMENTDATE")
df_energy_v2.sort_index(inplace=True)

df_energy_v2.OUTPUT_MWH.sum() / 1000

In [ ]:
df_energy_v2

In [ ]:
df_energy_v2[df_energy_v2.index == datetime.fromisoformat("2021-02-14 00:30:00")]

In [ ]:
df_v3 = df_energy[df_energy.index.date == date(2021, 2, 14)]
# df_energy.index.date()

df_v3 = df_v3[["facility_code", "eoi_quantity"]]
# df_v3 

df_v3[df_v3.index == datetime.fromisoformat("2021-02-14 00:25:00+10:00")]